@import url('https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet" rel="stylesheet');

 


body { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Shrikhand', cursive;
  color: white;
  
}

#header {
  background-color: rgba(40,39,39,1);
  font-family: "Paytone One", sans-serif;
  
  border-radius: 16px;
}

#card-display {
  background-color: rgba(40,39,39,0.7);
  font-family: "Paytone One", sans-serif;
  color: greenyellow;
   
  border-radius: 16px;
}

#card-display .row {
  margin: 0 auto;
  font-size: 20px;
  color: white;
 
  border-radius: 16px;
}

#burger-form {
  margin-top: 50px;
  border-radius: 16px;
}

#burger-form input {
  margin: 20px 5px;
  border-radius: 16px;
}

.addBurgerBtn {
  margin: 15px 0;
  border-radius: 16px;
}